.rancho-font {
    font-family: "Rancho", cursive;
}

.raleway-font {
    font-family: "Raleway", sans-serif;
}

.addCoffeeImg {
    background-image: url('../src/assets/more/11.png');
}

.mainBg {
    background-image: url('../src/assets/more/1.png');
}